@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  background-color: #dcdcdc;
}

header {
  background-color: #080a09;
  margin: auto;
}

.container {
  max-width: 1140px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.header-left img {
  height: 100px;
  width: 100px;
}

.menu-open {
  display: none;
}

.header-rigth{
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.header-rigth ul,
.header-rigth li {
  list-style: none;
}

.header-rigth ul {
  display: flex;
  margin: 0;
}

.header-rigth li a {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  height: 95px;
  border-bottom: 5px solid #080a09;
}

.header-rigth li a:hover,
.header-rigth .active a {
  border-bottom: 5px solid #06ed9d;
  color: #ccc;
}

aside {
  background-color: #e20e00;
  display: flex;
  font-weight: bold;
  height: 20px;
  line-height: 10px;
  gap: 70px;
  align-items: center;
  justify-content: center;
  color: #000;
}

.produtos {
  min-height: calc(70vh - 100px);
  margin: 15px 0;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}

.produto {
  width: 250px;
  height: 350px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 3%;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

.produtos a {
  display: flex;
  height: inherit;
  width: inherit;
  text-decoration: none;
  color: #000;
  flex-direction: column;
  align-items: flex-start;
  border-radius: inherit;
}

.produtos a img {
  border-radius: inherit;
  height: 240px;
  width: inherit;
}

.produtos .descr {
  margin: 5px 0px 17px 5px;
  font-size: 15px;
  font-weight: 600;
  color: rgb(66, 70, 77);
}

.produtos .oldPriceCard {
  display: flex;
  margin: 0px 0px 0px 5px;
  font-size: 0.75rem;
  line-height: 1.375rem;
  font-weight: 400;
  align-items: center;
  height: 0.75rem;
  color: rgb(86, 92, 105);
  text-decoration: line-through;
}
.produtos .text-xs {
  font-size: 12px;
  line-height: 16px;
  --tw-text-opacity: 1;
  color: rgb(127 133 141 / var(--tw-text-opacity));
}
.margin {
  margin: 0px 0px 0px 7px;
}


.produtos .preco {
  margin: 0px 0px 0px 7px;
  font-size: 21px;
  font-weight: 700;
  color: #06ed9d;
}


footer {
  background-color: #080a09;
  justify-content: center;
}

.area {
  display: flex;
}

.areaitem {
  flex: 1;
  color: #fff;
}

.widget_title_bar {
  width: 50px;
  height: 2px;
  background-color: #06ed9d;
  margin-top: 10px;
}

.flexColumn {
  flex-direction: column;
}

.widget_title {
  margin-top: 30px;
  margin-bottom: 20px;
}

.widget_title_text {
  color: #fff;
}

.flexColumn {
  flex-direction: column;
}

.widget_img {
  display: flex;
}

.widget_atende {
  display: flex;
  align-items: center;
}

.widget_atendimento .bola {
  display: flex;
  margin: 0 5px;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  justify-content: flex-start;
  align-items: center;
}

.widget_atendimento div:nth-child(1) .bola {
  background-color: #128C7E;
}

.widget_atendimento div:nth-child(2) .bola {
  background-color: #C13584;
}

.widget_pagamento .bola {
  display: flex;
  margin: 0 5px;
  height: 35px;
  width: 35px;
  background-color: #09bfb1;
  border-radius: 50%;
  justify-content: flex-start;
  align-items: center;
}

.widget_atendimento div img,
.widget_pagamento div img {
  margin: 0px 12px 0px 7px;
  height: 22px;
  height: 22px;
}

.direitos {
  text-align: center;
  border-top: 1px solid #06ed9d;
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  color: #FFF;
  margin-top: 20px;
}

@media (min-width: 769px) and (max-width: 1140px) {
  .container {
    max-width: 900px;
  }

  aside {
    gap: 50px;
  }

  .produtos {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .container {
    max-width: 675px;
  }

  aside {
    gap: 50px;
  }

  .produtos {
    grid-template-columns: repeat(3, 1fr);
  }
  .produto {
    width: 200px;
    height: 316px;
  }
  .produtos a img {
    border-radius: inherit;
    height: 200px;
    width: inherit;
 }
}

@media (max-width: 426px) {
  .container {
    max-width: 400px;
  }

  .menu-open {
    list-style: none;
    height: 50px;
  }
  .menu-mobile {
    margin: 5px 15px 5px 5px;
    height: 10px;
    width: 50px;
    border-radius: 20% / 90%;
    background-color: #06ed9d;
    transition: 1s;
    position: relative;
  }
  .menu-open:hover li:nth-child(1) {
    transform: translateY(15px) rotate(45deg);
  }
  .menu-open:hover li:nth-child(3) {
    transform: translateY(-17px) rotate(-45deg);
  }
  .menu-open:hover li:nth-child(2) {
    transform: rotate(-45deg);
  }

  nav {
    display: none;
    position: absolute;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.9);
    width: 70vw;
    height: calc(100vh - 100px);
    top: 99px;
    right: 0;
  }
  .header-rigth ul {
    flex-direction: column;
  }
  .header-rigth li a {
    font-weight: bold;
    height: 60px;
    font-size: 20px;
    margin-left: 30px;
    border: 0;
  }
  .header-rigth li a:hover,
  .header-rigth li.active a {
    border: 0;
    color: #06ed9d;
  }


  .header-left img {
    height: 80px;
    width: 80px;
  }

  aside {
    gap: 10px;
  }

  .produto {
    width: 150px;
    height: 275px;
  }

  .produtos {
    grid-template-columns: repeat(2, 1fr);
  }

  .produtos a img {
    height: 160px;
  }

  .area {
    flex-direction: column;
  }
}