@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  background-color: #dcdcdc;
}

header {
  background-color: #080a09;
  margin: auto;
}

.container {
  max-width: 1140px;
  margin: auto;
}

.header-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.header-left img {
  height: 100px;
  width: 100px;
}

.menu-open {
  display: none;
}

.header-rigth {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.header-rigth ul,
.header-rigth li {
  list-style: none;
}

.header-rigth ul {
  display: flex;
  margin: 0;
}

.header-rigth li a {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  height: 95px;
  border-bottom: 5px solid #080a09;
}

.header-rigth li a:hover,
.header-rigth .active a {
  border-bottom: 5px solid #06ed9d;
  color: #ccc;
}

aside {
  background-color: #e20e00;
  display: flex;
  font-weight: bold;
  height: 20px;
  line-height: 10px;
  gap: 70px;
  align-items: center;
  justify-content: center;
  color: #000;
}

.produtos {
  min-height: calc(70vh - 100px);
  margin: 15px 0;
  display: grid;
  gap: 10px 0px;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
}

.produto {
  height: 310px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.produtos a {
  display: flex;
  text-decoration: none;
  color: #000;
  flex-direction: column;
  align-items: flex-start;
}

.produtos a img {
  border-radius: 5%;
  height: 200px;
  width: 200px;
}

h3 {
  margin: 5px 0;
  font-size: 18px;
}

h1 {
  margin: 0;
}


footer {
  background-color: #080a09;
  justify-content: center;
}

.area {
  display: flex;
}

.areaitem {
  flex: 1;
  color: #fff;
}

.widget_title_bar {
  width: 50px;
  height: 2px;
  background-color: #06ed9d;
  margin-top: 10px;
}

.flexColumn {
  flex-direction: column;
}

.widget_title {
  margin-top: 30px;
  margin-bottom: 20px;
}

.widget_title_text {
  color: #fff;
}

.flexColumn {
  flex-direction: column;
}

.widget_img {
  display: flex;
}

.widget_img a {
  display: flex;
  margin: 0 5px;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.widget_img a:nth-child(1){
  background-color: #128C7E; 
}

.widget_img a:nth-child(2) {
  background-color: #C13584; 
}
.widget_img a:hover {
  background-color: #CCC; 
}


.widget_img div {
  display: flex;
  margin: 0 5px;
  background-color: #37beb0;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.widget_img div img {
  margin: 6px;
  height: 22px;
}
.widget_img img {
  height: 22px;
}

.direitos {
  text-align: center;
  border-top: 1px solid #06ed9d;
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  color: #FFF;
  margin-top: 20px;
}

@media (min-width: 769px) and (max-width: 1140px) {
  aside {
    gap: 50px;
  }

  .produtos {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .container {
    max-width: 750px;
  }

  aside {
    gap: 50px;
  }

  .produtos {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 426px) {
  .container {
    max-width: 410px;
  }

  aside {
    gap: 15px;
  }

  .produtos {
    grid-template-columns: repeat(1, 1fr);
  }

  .area {
    flex-direction: column;
  }
}